<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stegnuti Report</title>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.12/dist/css/bootstrap-select.min.css">
    
    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
    <link href="css/chooseLog.css" rel="stylesheet">
    
</head>
<body>
    
    <div id="stegnutiReport" class="container-fluid">
        <div class="row">
            <main role="main" style="position:absolute;left:0;top:0;right:0;bottom:0;">
                <div class="container-fluid">
                    <h2 class="text-center mb-3"><b>{{this.projectName}}</b></h2>
                    <input type="text" class="form-control mb-2" id="searchInput" placeholder="Search">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Arrived at</th>
                                <th scope="col">Player</th>
                                <th scope="col">Summary</th>
                                <th scope="col">Game version</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
    
    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/axios.js"></script>
    <script src="js/jQuery.js"></script>
    <script src="js/poper.js"></script>
    <script src ="js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.12/dist/js/bootstrap-select.min.js"></script>

</body>
</html>